{% extends 'layouts/default.html' %}

{% block content %}
<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>
                <p>
                    <strong>id</strong>: {{ user.get('id') }}<br>
                    <strong>email</strong>: {{ user.get('email') }}<br>
                    <div id="trello"></div>
                    <button id="trello_delete">Unauthorise</button>
                </p>
            </div>
        </div>
        <div class="col-sm-6">
            <ul id="watch_list"></ul>
        </div>
    </div>
    <div class="row">
        <form action="" method="">
            <div class="form-group">
                <label>Activation code</label>
                <input id="activation_code" type="text" class="form-control" name="activation" placeholder="8 character code">
            </div>
            <button id="register_watch" type="submit" class="btn btn-warning btn-lg">Register Watch</button>
        </form>
    </div>
</div>
<script>
    var refreshWatches = function() {
        $.ajax({
            url:'/api/watches',
            success: function(watches) {
                $("#watch_list").empty();
                _.each(watches, function(watch) {
                    $("#watch_list").append(
                        '<li>' + JSON.stringify(watch) + '<button id="watch_' + watch.id + '">Delete</button></li>');
                    $("#watch_" + watch.id).on('click', function(event) {
                        $.ajax({
                            url:'/api/watches/' + watch.id,
                            type: 'DELETE',
                            success: function(data) {
                                refreshWatches();
                            },
                            error: function(err) {
                                console.log(err);
                            }
                        });                        
                    });
                });
            },
            error: function(data) {
                console.log(data.responseText);
            }
        });
    }

    var refreshTrello = function() {
        $.ajax({
            url: '/api/trello_token',
            type: 'GET',
            contentType: "application/json",
            dataType: 'json',
            success: function(data) {
                $("#trello").empty();
                $("#trello").append('<div>' + JSON.stringify(data) + '</div>');
            },
            error: function(err) {
                $("#trello").empty();
                console.log(err);
            }
        });
    }

    $(document).ready(function() {

        refreshWatches();
        refreshTrello();

        $('#register_watch').on('click', function(event) {
            $.ajax({
                url:'/api/watches',
                type: 'POST',
                contentType: "application/json",
                dataType: 'json',
                data: JSON.stringify({
                    activation_code: $('#activation_code').val()
                }),
                success: function(data) {
                    refreshWatches();
                },
                error: function(data) {
                    console.log(data.responseText);
                }
            });
            event.preventDefault();
        });

        $('#trello_delete').on('click', function(event) {
            $.ajax({
                url:'/api/trello_token',
                type: 'DELETE',
                success: function(data) {
                    refreshTrello();
                },
                error: function(err) {
                    console.log(err);
                }
            });
        });
    });
</script>
{% endblock %}
