{% extends 'layouts/default.html' %}

{% block content %}
	Redirecting to Trello..
	<script>
		var authenticationSuccess = function() {
			console.log('Auth successful');
			window.location.href = "/trello_authorise_enter_watch?ttoken=" + Trello.token();
		};
		var authenticationFailure = function() {
			console.log('Failed authentication');
			window.location.href= "/trello_authorise?message=Authentication failed.";
		};
		Trello.deauthorize();
		Trello.authorize({
			type: 'redirect',
			persist: 'true',
			name: '{{ app_name }}',
			scope: {
		    	read: true
			},
			expiration: 'never',
			success: authenticationSuccess,
			error: authenticationFailure
		});
	</script>
{% endblock %}