{% extends 'layouts/default.html' %}

{% block content %}

    <div class="page-header text-center">
        <h1><span class="fa fa-check-square-o"></span> Garminello (beta)</h1>
		<h3>Trello on your Garmin device</h3>
    </div>

    <div class="text-center">
        <div class="row">
            <div class="col-sm-6">
                <h3>1. Install the app</h3>
                <a class="btn btn-lg btn-primary" href="https://apps.garmin.com/en-US/apps/da6ba406-488c-4f10-83d4-3e70507d4656"><span class="fa fa-external-link"></span> Install</a>
            </div>
            <div class="col-sm-6">
                {% if isAuthenticated %}
                    <h3>2. Register device</h3>
                    <a class="btn btn-lg btn-primary" href="/home">Account</a>
                {% else %}
                    <h3>2. Sign up and register device</h3>
                    <a class="btn btn-lg btn-primary" href="/register">Sign up</a>
                    <p><a href="/login">Already have an account? Login</a></p>
                {% endif %}
            </div>
        </div>
    </div>

    <hr/>

    <div class="row benefits">
        <div class="col-sm-6">
        	<!--<h4>Access all your Trello boards on Garmin devices</h4>-->
            <img src="/static/images/access_boards_on_device.png"/>
        </div>
        <div class="col-sm-6">
        	<!--<h4>Offline access to last viewed board</h4>-->
            <img src="/static/images/offline_access.png"/>
        </div>
    </div>
    <div class="row benefits">
        <div class="col-sm-6">
        	<!--<h4>Todo or shopping lists made easy</h4>-->
            <img src="/static/images/todo_lists.png"/>
        </div>
        <div class="col-sm-6">
        	<!--<h4>Create workouts or other sequences and play them back on your Garmin device</h4>-->
            <img src="/static/images/workouts.png"/>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-sm-12">
            <h3>Trello boards on Garmin devices</h3>
            <p>Garminello allows you to view your Trello boards and lists. All boards visible from you Trello account will be available in the app.
            </p>
            <p>To set up, simply
            <ul>
                <li><a href="/register">Create and account</a> on this site.</li>
                <li>Link your account to Trello from <a href="/home">your profile page</a>.</li>
                <li>Install and launch <a href="http://apps.garmin.com">Garmin app</a>. It will display an 8 character activation code.</li>
                <li>Use this code to register your Garmin device from <a href="/home">your profile page</a>.</li>
            </ul>
            </p>
        </div>
        <div class="col-sm-6">
            <h3>Play sequences defined in Trello (e.g. workouts)</h3>
            <p>To play any Trello list, choose relevant board in the app, navigate to the list and choose [Play List] from the menu (see the <a href="#app_screen_diagram">app diagram</a> below).
            </p>
            <p>
            To define how long each card from the list will show for, simply add duration to the Trello card summary, e.g. "Warm up <strong>[3m 30s]</strong>"</p>
            <p>Format the duration as minutes and seconds in the following way: <strong>[XXm YYs]</strong>. You don't have to specify both minutes and seconds. Examples: <ul>
            <li>"Push-ups <strong>[2m 30s]</strong>"</li>
            <li>"Rest <strong>[30s]</strong>"</li>
            <li>"Meditation <strong>[15m]</strong>".</li>
            </ul>
            </p>
            <p>While playing the list, each card will be shown for the defined duration.
            </p>
        </div>
        <div class="col-sm-6">
        <img src="/static/images/screenshots/trello_workout_small.png" style="width:100%"/>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-sm-12">
            <h3 id="app_screen_diagram">The Garminello Connect IQ app screen diagram</h3>
            <p>Here's how to navigate the app after device has been registered and your account linked to Trello.</p>
            <a target="blank" href="/static/images/app_diagram.png"><img src="/static/images/app_diagram.png" style="width:100%;"/></a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3>Example Trello board with Workouts</h3>
            <p>This is a public board, so you can <a target="_blank" href="https://trello.com/b/SOCdcatH">join and add it to your Trello account</a>. This will make it visible in the Garmin device.</p>
            <iframe src="https://trello.com/b/SOCdcatH.html"></iframe>
        </div>
    </div>
</div>

{% endblock %}
