{% extends 'layouts/default.html' %}

{% block content %}

    <div class="page-header text-center">
        <h1><span class="fa fa-check-square-o"></span> Garminello (beta)</h1>
		<h3>Trello on your Garmin device</h3>
    </div>

    <div class="text-center">
        <div class="row">
            <div class="col-sm-6">
                <h3>1. Install the app</h3>
                <a class="btn btn-lg btn-primary" href="http://apps.garmin.com"><span class="fa fa-external-link"></span> Install</a>
            </div>
            <div class="col-sm-6">
                {% if isAuthenticated %}
                    <h3>2. Register device</h3>
                    <a class="btn btn-lg btn-primary" href="/home">Account</a>
                {% else %}
                    <h3>2. Sign up and register device</h3>
                    <a class="btn btn-lg btn-primary" href="/register">Sign up</a>
                    <p><a href="/login">Already have an account? Login</a></p>
                {% endif %}
            </div>
        </div>
    </div>

    <hr/>

    <div class="row benefits">
        <div class="col-sm-6">
        	<!--<h4>Access all your Trello boards on Garmin devices</h4>-->
            <img src="/static/images/access_boards_on_device.png"/>
        </div>
        <div class="col-sm-6">
        	<!--<h4>Offline access to last viewed board</h4>-->
            <img src="/static/images/offline_access.png"/>
        </div>
    </div>
    <div class="row benefits">
        <div class="col-sm-6">
        	<!--<h4>Todo or shopping lists made easy</h4>-->
            <img src="/static/images/todo_lists.png"/>
        </div>
        <div class="col-sm-6">
        	<!--<h4>Create workouts or other sequences and play them back on your Garmin device</h4>-->
            <img src="/static/images/workouts.png"/>
        </div>
    </div>
</div>

{% endblock %}
