{% extends 'layouts/default.html' %}

{% block scripts %}
    <script src="//api.trello.com/1/client.js?key={{ trello_api_key }}"></script>
    <script src="/static/javascripts/garminello.js"></script>
{% endblock %}

{% block content %}
<script id="watch_template" type="text/template">
    Type: <%= model.get('type') %><br/>
    Added: <%= model.formatCreatedAt() %><br/>
    Active: <% if (model.get('active')) {print('Yes');} else {print ('No');} %><br/>
    <div class="text-center">
        <img src="<%= model.getIcon() %>"/>
        <br/><br/>
        <button class="delete btn btn-default btn-sm">Unregister</button>
    </div>
</script>

<script id="trello_token_template" type="text/template">
    <a href="<%= me.url %>"><%= me.fullName %> (<%= username %>)</a>
    (<% print(me.idBoards.length); %> boards)&nbsp;&nbsp;
    <button class="deauthorise btn btn-default btn-sm">Deauthorise</button>
</script>

<script id="trello_token_missing_template" type="text/template">
    <div class="alert alert-warning" role="alert"><strong>Authorise with Trello account</strong> before using the app!</div>
    <div class="text-center">
        <button class="authorise btn btn-lg btn-primary">Authorise with Trello</button>
    </div>
</script>

<div id="root" class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-check-square-o"></span> {{ app_name }}</h1>
        <span class="fa fa-user"></span> Logged in as <strong>{{ user.get('email') }}</strong>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="well row">
                <h3>Trello account</h3>
                <div id="trelloToken"></div>
            </div>
        </div>
        <div class="col-sm-12">
            <div id="watchList" class="well row">
                <h3>Registered devices</h3>
                <div class="text-center">
                <button id="register-watch-button" type="button" class="btn btn-lg btn-primary"><span class="fa fa-plus"></span> Register device</button>
                </div>
                <div id="list"></div>
            </div>
        </div>
    </div>
</div>

<!-- Add Watch Modal Dialog -->
<div class="modal fade" id="add-watch-modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <ul id="messages" class="messages"></ul>
                <form id="register_watch_form" action="" method="">
                    <div class="form-group">
                        <label>Activation code</label>
                        <input id="activation_code" type="text" class="form-control" name="activation" placeholder="8 character code">
                    </div>
                    <button id="register_watch" type="submit" class="btn btn-warning btn-lg">Register Device</button>
                    <div class="text-center" id="spinner">
                        <div class="alert alert-info" role="alert">
                            <strong>Waiting for the device.</strong> Follow instructions on your device's screen.
                        </div> 
                        <span type="submit" class="spinner fa fa-spinner"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
      
    </div>
</div>

{% endblock %}
