{% extends 'layouts/default.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Sign up</h1>

        <form action="/register" method="post">
            <div class="form-group">
                <label>Email</label>
                <input id="username" type="text" class="form-control" name="un">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input id="password" type="password" class="form-control" name="pw">
            </div>
            <div class="form-group">
                <label>Validate Password</label>
                <input id="validate_password" type="password" class="form-control" name="vpw"/>
            </div>
            <button type="submit" class="btn btn-warning btn-lg">Sign up</button>
        </form>

        <hr>

        <p>Already have an account? <a href="/login">Login</a></p>
    </div>
</div>
{% endblock %}
