{% extends 'layouts/default.html' %}

{% block scripts %}
    <script src="//api.trello.com/1/client.js?key={{ trello_api_key }}"></script>
{% endblock %}

{% block content %}
	Redirecting to Trello..
	<script>
		var authenticationSuccess = function() {
			console.log('Auth successful');
			Trello.members.get('me', function(me) {
				$.ajax({
					url: '/api/trello_token',
	                type: 'POST',
	                contentType: "application/json",
	                dataType: 'json',
	                data: JSON.stringify({
	                    trello_token: Trello.token(),
	                    trello_username: me.username
	                }),
					success: function(data) {
						console.log(data);
						window.location.href="/home";
					},
					error: function(err) {
						console.error(err);
						$('#messages').append('<li class="error">Error: ' + err.responseText + '</li>');
					}
				});
			});
		};
		var authenticationFailure = function() {
			console.log('Failed authentication');
			$('#messages').append('<li class="error">Authentication failed</li>');
		};
		Trello.deauthorize();
		Trello.authorize({
			type: 'redirect',
			persist: 'true',
			name: '{{ app_name }}',
			scope: {
		    	read: true
			},
			expiration: 'never',
			success: authenticationSuccess,
			error: authenticationFailure
		});
	</script>
{% endblock %}