<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ app_name }}</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/stylesheets/garminello.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        {% block scripts %}
        {% endblock %}
    </head>
    <body>
        <div id="root" class="container">
            <div class="nav">
                <div class="main-nav">
                <ul>
                    <li><a href="/"><span class="fa fa-check-square-o"></span> Garminello</a></li>
                    {% if isAuthenticated %}
                        <li><a href="/home">Home</a></li>
                        <li><a href="/logout">Logout</a></li>
                    {% else %}
                        <li><a href="/login">Login</a></li>
                    {% endif %}
                </ul>
                </div>
            </div>

            <div class="row">
                <ul id="messages" class="messages">
                {% for message in messages %}
                    <li class="alert alert-warning {{ message.type }}" role="alert">{{ message.message }}</li>
                {% endfor %}
                </ul>
            </div>

            {% block content %}{% endblock %}

            <footer>
                <div class="text-center">
                    2016, by <a href="">Tomasz Kustrzynski</a>
                </div>
            </footer>
        </div>
    </body>
</html>
