body {
  /*background-color: rgb(162, 216, 192);*/
  background-color: white;
}

a {
	color: #00436a;
}

h1, h3 {
	color: #00436a;
}

.main-nav {
	float: left;
	margin-top: 20px;
	font-size: 1.5em;
	ul {
		list-style: none;
	}
	ul > li {
		float: left;
		display: list-item;
		margin-left: 30px;
	}
	ul > li:first-child {
		margin-left: 0px;
	}
}

.messages {
	list-style: none;
	li {
		margin-top: 20px;
	}
}

.messages li {
	margin-top: 20px;
}

.watch-container {
	display: block;
	float: left;
	max-width: 300px;
	padding: 20px;
	border: 1px solid #2e6da4;
    border-radius: 4px;
    img {
		height: 180px;
		width: 180px;    
    }
}

.benefits {
	margin-bottom: 20px;
	img {
		width: 100%;
	}
}

.spinner {
	font-size: 2em;
	animation: spin 2s linear infinite;	
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
